.main{
  overflow: hidden;
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem; 
  font-weight: 700; 
  text-decoration: underline; 
}

.grid {
  display: grid;
  grid-auto-flow: row dense;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.grid {
  padding-bottom: 2rem;;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  background-color: rgb(229 186 115);
}